@model long
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit todo</h1>
    <form action="change" method="post">
        <label for="name">New name</label>
        <input type="text" name="name" />
        <label for="email">New email</label>
        <input type="text" name="email" />
        <input type="hidden" name="id" value=@Model>
        <button type="submit">Change</button>
    </form>
    <a href="list">Cancel</a>
</body>
</html>
