<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="add" method="post">
        <label for="task">Enter Task</label>
        <input type="text" name="task" />
        <label for="isUrgent">Is Urgent</label>
        <select name="isUrgent">
            <option value=false>No</option>
            <option value=true>Yes</option>
        </select>
        <button type="submit">GO</button>
    </form>
</body>
</html>
